<h1>Cadastro de pessoas</h1>

<form action="/create" method="POST">

    <div class="mb-3">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="form-control">
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" name="email" id="form-control">
    </div>
    <div class="mb-3">
        <label for="data_nascimento">Nascimento</label>
        <input type="text" name="data_nascimento" id="form-control">
    </div>

    <div class="mb-3">
        <button class="btn btn-success">Salvar</button>
    </div>

</form>